#activ-header{
    display: flex;

}

#to-date{
    margin-left: 4%;
}

#row-me{
    display: inline-block;
    margin-left: 4%;
    margin-right: 4%;
    width: 35%;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 1px solid grey;
    background-color: rgb(240, 242, 244);;
    border-radius: 5px;
}
