/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body{
     font-family: papyrus;
     font-family: 'Helvetica Neue';
     font-weight:350;
     color:grey
 }

.header-link{
    font-size: small;
    display:block;
    top:0px;
    left:0px;
    margin-top: 0px;
    margin-left: 5px;
    /* font-family: ; */
    background: linear-gradient(to right, #0c0fbe 0%, #479adf 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    text-transform: uppercase;
}
/* 
    Greeting Container stuff
*/
.login-signup,.header-group {
    position: absolute;
    margin-top: 20px;
    top: 0px;
    right:5px;
    font-size: medium;
    padding: 10px;

}
.header-group{
    display: flex;
    height: 10px;
    align-items:center;
    justify-content: flex-end;
}

#logLink,#signLink{
    text-decoration: none;
    padding: 10px;
}

#logLink{
    color:black;
    border-radius: 5px;
}

#logLink:hover{
    background-color:rgb(195, 201, 207);
}

#signLink{
    color:white;
    background-color: rgb(64, 204, 51);
    border-radius: 5px;
}
#signLink:hover{
    background-color: rgb(50, 167, 39);
}

.header-button{
    display: flex;
    justify-content: center;
    /* height:30px; */
    padding: 10px;
    border-radius: 5px;
    font-size: medium;
}

.header-button:hover{
    background-color:rgb(195, 201, 207);
}


/*
    Session form styles
*/
.login-form-container{
    display:flex;
    justify-content: center;
}
.login-form-container > * {
    margin: 8em;
}

.session-submit {
    width: 100%;
    color:white;
    background-color: rgb(64, 204, 51);
    font-size: medium;
    padding: 7px;
    border-radius: 5px;
}

.session-submit:hover{
    background-color: rgb(50, 167, 39);
}
.demo-login {
    width: 100%;
    color:white;
    background-color: rgb(51, 130, 204);
    font-size: medium;
    padding: 7px;
    border-radius: 5px;
}

.demo-login:hover{
    background-color: rgb(29, 66, 167);
}

.login-input{
    width:100%;
}

.login-errors{
    list-style: none;
    font-size: smaller;
    color:rgb(145, 45, 45);
}
