/* Dropdown Button */
.dropbtn {
  padding: 16px;
  border: none;
  cursor: pointer;
}

.routedropbtn{
    padding: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

.route-dropdown {
    position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
// Workout Dropdown
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width:190px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

// Routes dropdown
.route-dropdown-content {
      display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 190px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content > li, .route-dropdown-content > li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}



/* Change color of dropdown links on hover */
// .dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}




header>span{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-color: white;

    top:0px;
    width:100%;
    height:3.2em;
    z-index:2;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}


.route-links{
    text-decoration: none;
    color: grey;
    padding-left: 1em ;
    padding-right: 1em;
}

.route-links-content{
    display: none;
}

.route-links:hover .route-links-content{
    z-index: 3;
    display: flex;
    flex-direction: column;
}


.header-link{
    font-size: small;
    top:0px;
    left:0px;
    background: linear-gradient(to right, #0c0fbe 0%, #479adf 65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    text-transform: uppercase;
}
/* 
    Greeting Container stuff
*/

.header-group,.login-signup{
    display: flex;
    height: 10px;
    align-items:center;
    justify-content: flex-end;
} 

#logLink,#signLink{
    text-decoration: none;
    padding: 10px;
}

#logLink{
    color:black;
    border-radius: 5px;
}

#logLink:hover{
    background-color:rgb(195, 201, 207);
}

#signLink{
    color:white;
    background-color: rgb(29, 221, 124);
    border-radius: 5px;
}
#signLink:hover{
    background-color: rgb(25, 194, 109);
}

.header-button{
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    font-size: medium;
  font-family: 'Arial Rounded MT Bold';
}

.header-button:hover{
    background-color:rgb(195, 201, 207);
}
