.index-map{
    height: 200px;
    width:47%;
    float:left;
    border: 1px solid grey;
    margin-left: 1%;
}

.route-index-item{
    margin-top: 7px;
    border: 1px solid grey;
    height:245px;
}

.route-index-item > .linky{
    color: rgb(51, 130, 204);
    text-decoration: none;
}

.route-index-item > .linky:hover{
  color: rgb(29, 66, 167);
}

#distance-only{
    float:right;
}

.mini-flex{
    border: 1px solid pink;
    float:right;
    width:49%;
    height: 200px;
    margin-right:1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-button{
    margin-left:1%;
}


