.index-map{
    height: 200px;
    width:100%;
    border: 1px solid grey;
}

#act-feed{
    margin-left: 4%;
}

.route-index{
    margin-bottom: 3.3em;
}

.route-index-item{
    margin-top: 10px;
    border: 1px solid grey;
    height:280px;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
    margin-left: 4%;
    margin-right: 4%;
    display: flex;
}

.route-index-item :first-child{
    width:70%;
}


.route-index-item > span > .linky{
    color: rgb(51, 130, 204);
    text-decoration: none;
}

.route-index-item > span > .linky:hover{
  color: rgb(29, 66, 167);
}

#route-info{
    padding-top:5px ;
    margin-left: 4%;
    width:100%;
}


.mini-flex{
    // float:right;
    width:49%;
    height: 200px;
    margin-right:1%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}

.delete-button{
    margin-left:1%;
    font-size: small;
    border: 1px solid grey;
    border-radius:5px;
    font-family: 'Arial Rounded MT Bold';
    text-decoration: none;
    padding: 1px;
}
.delete-button:hover{
    background-color:rgb(195, 201, 207);
}

#dist{
    font-size: larger ;
}

#num{
    font-size: xx-large;
    color:black;
}

#title{
    width:100%;
    display:block;
    margin:2%;
}
