.workout-form{
    margin-top:3.2em;
    border: 1px solid black;
    margin-left: 1%;
    margin-right:1% ;
    border-radius: 5px;
    color:white;
    text-shadow: 2px 2px black;
   background-image: image-url('missionPeak.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-left: 6%;
   padding-right: 6%;

}

#workout-icon{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

#workout-title{
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}

#workout-button{
    margin-top:2px;
    margin-left:1%;
    font-size: small;
    border: 1px solid grey;
    border-radius:5px;
    font-family: 'Arial Rounded MT Bold';
}
#workout-button:hover{
    background-color:rgb(195, 201, 207);
}


.workout-errors{
    font-size: small;
    color:red;
}

.formy > textarea{
    width:60%;
}

#mini-flex{
    display: flex;
    justify-content: space-evenly;
}
#mini-flex>label>input{
    width: 100%;
}

