.workout-map{
    margin:4px;
    margin-top: 7px;
    border: 1px solid black;
    height:200px;
    width: 100%;
}

.like-images{
    height: 30px;
    width: 30px;
}

.like-images:hover{
    cursor: pointer;
}

#like-text{margin-left: 3px;}

.like-div{
    display: flex;
    align-items: center;
}

#delete-workout-button{
    width:80%;
    margin-top:2px;
    margin-left:1%;
    font-size: small;
    border: 1px solid grey;
    border-radius:5px;
    font-family: 'Arial Rounded MT Bold';
}
#delete-workout-button:hover{
    background-color:rgb(195, 201, 207);
}

.workout-index{
    margin-top: 3.3em;
    margin-bottom: 5em;
}

#workouts{
    border-bottom:1px solid gray;
    margin-right:4%;
}

#w-me{
    display: inline-flex;
    align-items: flex-end;
    margin-left: 4%;
    margin-right: 4%;
    width: 45%;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 1px solid grey;
    border-radius: 5px;
    padding-left:2%;
    padding-right:2%;
    height:150px;
    background-image: image-url('boulder.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    color:white;
    font-size: larger;
    text-shadow: 2px 2px black;
}

#workout-index-item{
    margin-top: 10px;
    border: 1px solid grey;
    box-shadow: 0px 1px 2px -2px rgba(0,0,0,.2);
    margin-left: 4%;
    margin-right: 4%;
    display:flex;
}

.w-title{
    margin-left:4%;
}

.linky{
    color: rgb(51, 130, 204);
    text-decoration: none;
}

.linky:hover{
  color: rgb(29, 66, 167);
  cursor: pointer;

}

#workout-title{
    font-size: large;
}

.workout-info{
    display:flex;
    flex-direction: column;
    margin-right: 4%;
    align-items: center;
    padding: 5px;
    text-align: center;
}

#mapp{
    width: 65%;
    margin-right: 4%;
    margin-left: 8%;
    display:flex;
    justify-content:center;
    align-items:center
}

#mapp > img{
    transform: scale(0.8);
}

#workout-and-comments{
    display: flex;
    flex-direction: column;
}
#comments{
     border-bottom: 1px solid grey;
     border-left: 1px solid grey;
     border-right: 1px solid grey;
    margin-left: 4%;
    margin-right: 4%;
    padding: 5px;
    box-shadow: 0px 2px 2px -2px rgba(0,0,0,.2);

}

#blue-text{
    color: rgb(51, 130, 204);
}

#space-between{
    display: flex;
    justify-content: space-between;
}

#comment-text{
    padding: 5px;
    border-radius: 5px;
    margin-right:7px;
}

#post-button{
 border: 2px solid rgb(51, 130, 204);
 border-radius: 5px;
    padding-top: 4px;
    padding-bottom:4px ;
}

#post-button:hover{
  color: rgb(29, 66, 167);
}

#comment-form{
    display: flex;
    align-items: center;
}

#date{
    font-size: small;
}

